<div id="<%= dom_id picture %>">
  <p>
    <strong>Content:</strong>
    <%= picture.content %>
  </p>

  <p>
    <strong>Imageable:</strong>
    <%= picture.imageable_id %>
  </p>

  <p>
    <strong>Imageable type:</strong>
    <%= picture.imageable_type %>
  </p>

</div>
